/* 清除样式 */
body,ul {margin:0; padding:0;}
a {text-decoration:none;}
li{list-style-type :none;}
/* top */
#topbar {background-color:#2e333f;width: 100%;height: 70px;position: fixed;z-index: 1;margin:0; }
.topbar_logo {width:357px; height:60px; background:url(logo_top.gif); float:left; margin-left:20px;margin-top:5px;}
#topbar ul{position:relative;top:17;left:20;width:1180px;border:0px;margin:0 auto;}
#topbar li{float:left;list-style-type:none;}
#topbar li input{display:block;width:120px;height:36px;line-height:32px;border:1px solid;border-radius:15px;background:#fff;color:#3381ed;margin:0px 20px;cursor:pointer;
	font-size:20px;text-decoration:none;list-style-type:none; }
#topbar li input:hover{ border:1px bold #f91616;color:#f91616;}
/* top end */

					
body,td
{
	font-size: 10pt;
	font-family: Tahoma, Sans-Serif;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

h1{
	margin-top:20px;
	font-size:33px;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

/* 左侧播放导航栏 */
#tt_left {background:#eeeff1;}
.leftbar {width:280px; height:100%; margin-top:20px;}
.leftbar li {width:280px; height:50px; position:relative;}
.leftbar img {display:block; float:left; widtn:16px; height:16px; margin-top:17px;padding-left:10px; z-index:1000;}
.leftbar a {display:block; width:250px; height:50px; line-height:50px; position:absolute; matgin-left:0;margin-left:30px;
white-space:nowrap; text-overflow:ellipsis; color:#3d3c3c; overflow:hidden; z-index:50;}
.leftbar span {font-size:15px;}
.leftbar a:hover {color:#efeeee;background: #2e333f;}


/* li a font{
	color:#000000;
	font:italic bold 20px/35px arial,sans-serif;
}
li {
	line-height:22px;全局列表行高
	margin:0 0 20px 0;
}
li font {
	font-size:16px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
} */


/* 笔记 */
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

.enabledTopMenuItem {
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	font-size: 10px;
	font-variant: small-caps;
	color: #DFA611;
	font-weight: bold;
	text-decoration: none;
	cursor: hand;
	cursor: pointer !important;
}

.enabledMenulink {
	font-size: 14px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	text-decoration: underline;
	color: #F75000;
	
}

.disabledMenulink {
	font-size: 14px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	text-decoration: none;
	color: #0000FF;
}

.activeMenulink {
	font-size: 16px;
	font-family: Lucida Grande,Lucida,Verdana,sans-serif;
	text-decoration: underline;
	color: #2E8B57;
	font-weight: bold;
}
/*设置文本框样式*/
#note_div{
	background-color: #ebffcd;
	display: none;
	text-align: center;
	z-index: 1000;
	position:fixed;
	bottom:25px;
	left:3px;
	width:265px;
}
.right_body {
	padding:5px;
	border:3px solid #4C8EC0;/*控制body内容，边框颜色和粗细*/
	overflow:auto;
	zoom:1;
}
.line{
	scrollbar-arrow-color:yellow;
	scrollbar-base-color:lightsalmon;
	background-color: #FFFACD;
    font-size:14px;
    font-family: Arial,Verdana,Sans-serif;
    text-align:left;
    padding:5px;
	border:0px;
	resize:none;
}
/*拍照截屏*/
.screen_div{
	position:absolute;
	right:30px;
	top:5px;
}
.screen_btn{
	background:url(screen.png) no-repeat;
	background-size:60 60;
	width:60px;
	height:60px;
	cursor:pointer;
	border:none;
}

/*完成页面*/
.restudy{
	width:220px;
	height:100px;
	display:inline;
	position:absolute;
	left:200px;
	top:200px;
	background:#2e333f;
	color:#fff;
	font-size:22px;
	text-align:center;
	line-height:100px;
}
.restudy:hover{
	background:#CD8162;
}
.reback{
	width:220px;
	height:100px;
	display:inline;
	position:absolute;
	left:500px;
	top:200px;
	background:#2e333f;
	color:#fff;
	font-size:22px;
	text-align:center;
	line-height:100px;
}
.reback:hover{
	background:#CD8162;
}
